<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://suncardbackend220220502184844.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/d1193b5a-eab7-4a67-a452-5d416147cd4e/resourceGroups/AppWepSpot/providers/Microsoft.ContainerRegistry/registries/SunCardBackend220220502184958</ContainerResourceId>
    <ContainerResourceName>SunCardBackend220220502184958</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>suncardbackend220220502184958.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/d1193b5a-eab7-4a67-a452-5d416147cd4e/resourceGroups/AppWepSpot/providers/Microsoft.ApiManagement/service/SunCardBackend2api/apis/SunCardBackend2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d1193b5a-eab7-4a67-a452-5d416147cd4e/resourceGroups/AppWepSpot/providers/Microsoft.Web/sites/SunCardBackend220220502184844</ResourceId>
    <ResourceGroup>AppWepSpot</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://suncardbackend220220502184844.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bed2691b-acc4-4458-a9f6-ae4ef496d3b2</ProjectGuid>
  </PropertyGroup>
</Project>