.card{
    border:none;
    width: 500px;
    padding:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsla(200, 50%, 30%, 2);
    background:linear-gradient(90deg, hsla(200, 50%, 30%, 2) 0%, hsla(250, 30%, 35%, 2) 100%)
}

.card h1,h6 {
    color:#fff;
}

label {
    color:#fff;
}